*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url('./Downloads/4340428.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.nav .container{
    height: 60px;
    padding: 15px auto;
    min-width: 100%;
    font-size: 20px;
    font-weight: bold;


}
.nav ul{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
.nav a{
    text-decoration: none;
    color: white;
    
}
.nav li{
    list-style-type: none;
}
.navbar .logo{
    color: white;
}
.navbar .container{
    display: flex;
    height: 45px;
    padding: 0 30px;
    min-height: 100%;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
    position: relative;
}
.navbar .logo{
    position: absolute;
    left: 103px;
}
.navbar ul{
    display: flex;
    position: absolute;
    justify-content: space-around;
    right: 200px; 
}
.nav ul li{
    transition: all 1s;
}
.nav ul li:hover{
    letter-spacing: 2px;
}
.nav .container{
    transition: all 1.5s;

}
.nav .container{
    color: rgb(7, 7, 104);
}

.navbar .button{
    position: absolute;
    right: 120px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    font-weight: bold;
}
.navbar a{
    color: white;
}
h1, h5{
    color: white;

}
header .container{
    display: flex;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    height: 600px;

}
.navbar li{
    list-style-type: none;
    margin-right: 20px;
}
.navbar a{
    text-decoration: none;
}
h1{
    font-size: 5rem;

}
